<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Optional: Add custom CSS for further styling */
        body {
            margin: 20px;
        }
    </style>
</head>
<body>
    <button> <a href=" {% url 'index' %} "> GO TO HOME </a> </button>
    <div class="container">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th> ID </th>
                    <th> NAMES </th>
                    <th> CONTACT </th>
                    <th> EDIT </th>
                    <th> DELETE </th>
                </tr>
            </thead>
            <tbody>
                {% for i in alldata %}
                <tr>
                    <td> {{i.id}} </td>
                    <td> {{i.Name}} </td>
                    <td> {{i.Phone}} </td>
                    <td> <button> <a href="{% url 'edit' pk=i.id %}"> Edit </a> </button> </td>
                    <td> <button> <a href="{% url 'delete' pk=i.id %}"> Delete </a> </button> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Add Bootstrap JS (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
